<!DOCTYPE html>
<html lang="en">

 <style>
    html { 
        background: url(./static/images/bg4.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
        background-size: cover;
    }
</style>
        



<head>
<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Find your surroundings</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head> 

<body>

    <div class="section hero">
        <div class="block">
            <div class="row">
                <h1 style="text-align:center;color: rgb(0, 0, 0);">Please enter your address</h1>
            </div>
        </div>
    </div>
    <div class="section" style="text-align:center"> 
        <div class="block" >
    <div class="interaction">
        <form action="{{ url_for('covid_viewer') }}" method="get">
              <div>
                  <label style="font-size: 20px">Entering your address in Philadelphia</label>
                  <input type="text" id="address" name="address"><br><br>
              </div>
              <input type="submit" value="Submit">
          </form>
    </div>

      <div class="description" style="text-align:center; font-size: 20px">
      <b>Do you want to find about your surroundings?</b><br>
      <b>Would you like to go somewhere else? And want to how to go that place?</b><br>
      <b>Please start by entering your address!</b>
      </div>
  </div>
        </div>

    </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>