<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Farmers Markets Viewer</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
.container {
    max-width: 1280px;
}

</style>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>
    <section class="section hero section-a">
        <div class="container">
            <div class="row">
                <h1>Farmers Markets near {{ address }}</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
          <div class="row">
              <div class="five columns address-list">
                  <table>
                      <thead>
                          <th>Name</th>
                          <th>Address</th>
                          <th>Time</th>
                          <th>Route</th>
                      </thead>
                      <tbody>
                      {% for row in markets %}
                      <tr>
                        {% for col in row %}
                        {% if loop.index != 4 %}
                            <td>{{ col }}</td>
                        {% else %}
                            <td><a href="http://127.0.0.1:5000/walking?address={{ address }}&{{ col }}">Walking</a>
                                <br/>
                            <a href="http://127.0.0.1:5000/driving?address={{ address }}&{{ col }}">Driving</a></td>
                        {% endif %}
                        {% endfor %}
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>

              <div class="seven columns">
                  <h3><b>{{ num_markets }}</b> Farmers Markets </h3>
                  {{map | safe}}
              </div>
          </div>
        </div>
    </section>
    <section class="section section-c">
        <div class="container">
            <div class="row">
                <a class="button button-primary" href="/">Enter Another Address</a>
            </div>
        </div>
    </section>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
