<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Find your surroundings</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head> 

<body>

    <div class="section hero">
        <div class="container">
            <div class="row">
                <h1>Please enter your address</h1>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
  <div class="row">
      <div class="eight columns">
        <form action="{{ url_for('covid_viewer') }}" method="get">
              <div>
                  <label>Entering your address in Philadelphia</label>
                  <input type="text" id="address" name="address"><br><br>
              </div>
              <input type="submit" value="Submit">
          </form>
      </div>

      <div class="four columns">
      Do you want to find about your surroundings?
      Would you like to go somewhere else? And want to how to go that place?
      Please start by entering your address!
      </div>
  </div>
        </div>

    </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>